<img src="images/usm.jpg" width="480" height="240" align="left"/>

# MAT281 - Laboratorio N°03

## Objetivos de la clase

* Reforzar los conceptos básicos de pandas.

## Contenidos

* [Problema 01](#p1)

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información tal como: edad ,sexo, profesión, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [59]:
import pandas as pd
import os
import numpy as np

In [7]:
# cargar datos
df = pd.read_csv("data/ocupation.csv", sep="|").set_index('user_id')
df.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. ¿Cuál es el número de observaciones en el conjunto de datos?

In [29]:
print(len(df.index)*(len(df.head())-1))

3772

2. ¿Cuál es el número de columnas en el conjunto de datos?

In [28]:
print(len(df.index))

943

3. Imprime el nombre de todas las columnas

In [18]:
print(df.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

4. Imprima el índice del dataframe

In [30]:
print(df.index)

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

5. ¿Cuál es el tipo de datos de cada columna?

In [46]:
df.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6. Resumir el conjunto de datos

In [67]:
df.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

7. Resume conjunto de datos  con todas las columnas

In [69]:
df.describe(include='all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

8. Imprimir solo la columna de **occupation**.

In [20]:
print(df['occupation'])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

9. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [54]:
lista1=[df.occupation[1]]
for index, row in df.iterrows():
    n=len(lista1)
    k=0
    for i in range(0,n):
        if df.occupation[index]==lista1[i]:
            k=1
    if k==0:
        lista1.append(df.occupation[index])
print(len(lista1))

21

10. ¿Cuál es la ocupación más frecuente?

In [56]:
lista2=[0]*len(lista1)
maximo=0
for index, row in df.iterrows():
    lista2[lista1.index(df.occupation[index])]=lista2[lista1.index(df.occupation[index])]+1
for i in range(0,n):
    if maximo <= lista2[i]:
        maximo=lista2[i]

print(lista1[lista2.index(maximo)])

student

11. ¿Cuál es la edad media de los usuarios?

In [60]:
print(np.mean(df['age']))

34.05196182396607

12. ¿Cuál es la edad con menos ocurrencia?

In [64]:
lista3=[df.age[1]]
for index, row in df.iterrows():
    n=len(lista3)
    k=0
    for i in range(0,n):
        if df.age[index]==lista3[i]:
            k=1
    if k==0:
        lista3.append(df.age[index])

lista4=[0]*len(lista3)
minimo=len(df.index)-1
for index, row in df.iterrows():
    lista4[lista3.index(df.age[index])]=lista4[lista3.index(df.age[index])]+1
for i in range(0,n):
    if minimo >= lista4[i]:
        minimo=lista4[i]

print(lista3[lista4.index(minimo)])

7